* {
	text-align: center;
	font-family: 'Indie Flower';

	/*color: #747704;*/
}
body {
	background-color: #eee;
}

table {
	margin-top: 40px;
}

td {
	width: 50%;
	font-size: 1.1em;
}

.h1, .h2, .h3, h1, h2, h3 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.headerRow {
	background-color: #a94442;
	margin-bottom: 10px;
	margin-top: 10px;
	height: 20%;
}
.home {
	text-decoration: none;
}

.selectorRow {
	background-color: #323232;
	color: white;
	margin-bottom: 5px;
}



div div .typeButton {
  font-weight: bold;
  font-size: 1em;
  padding: 2px 6px;
  display: inline;
  border-radius: 5px;
  border:hidden;
  margin: 0px 2px;
  }



.imgDiv {
	height: 60%;
}

.pokeDexCard{
	border-radius: 10px;
	border: thin solid black;
	margin: 10px;
	padding: 10px;
	height: 270px;
	max-width: 300px;
	background-color: #607D8B;
	color: white;
}

#pDetails {
	height: 150px;
	margin-bottom: 10px;
}

#loadMore {
	margin-bottom: 10px;
}

.form-control {
	margin: 20px;
}

#extraInfo {
	width: 35%;
	position: fixed;
	left: 60%;
	right: 5%;
}

#animation {
	margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

#animationContainer{
	background-color: #eee;
	border: hidden;
}

#pDetailsTable p {
	margin: 0px;
}

#typeSelector{
	display: inline;
	width: 50%;
}


/*////////////// add pointers on hover //////////////////////*/
.row article:hover, #pDetailsTable:hover, #pDetails:hover {
	cursor: pointer;
}


/*////////////   styles for types pseudo-buttons /////////////*/
.Normal, .Ghost, .Psychic {
	background-color: #C5EDFA;
	color: black;
	} 

.Flying, .Fighting, .Fairy {
	background-color: #E242EB;
	color: black;
}

.Ice, .Water {
	background-color: aqua;
	color: black;
}

.Electric {
	background-color: yellow;
	color: black;
}

 .Ground, .Bug, .Grass {
	background-color: #55E657;
	color: black;
}

.Poison {
	background-color: #AB90D4;
}

.Rock, .Steel {
	background-color: #A3A8A3;
}

.Fire, .Dragon {
	background-color: #F2A757;
}

.Dark, .Unknown {
	color: white;
	background-color: black;
}

.Shadow {
	background-color: gray;
}
